{% extends 'base.html' %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <h3>Заказы клиента {{ user }}  за неделю </h3>
    <table>
    {% for order in orders_day %}
        <tr>
            <td>имя товара | {{ order}} </td>
        </tr>
    {% endfor %}
    </table>

    <h3>Заказы клиента {{ user }}  за месяц </h3>
    <table>
    {% for order in orders_month %}
        <tr>
            <td>имя товара | {{ order }} </td>
        </tr>
    {% endfor %}
    </table>

    <h3>Заказы клиента {{ user }}  за год </h3>
    <table>
    {% for order in orders_year %}
        <tr>
            <td>имя товара | {{ order }} </td>
        </tr>
    {% endfor %}
    </table>

{% endblock content %}